.jnHeader {
  position: relative;
}

jn-grid-cell, [jn-grid-cell], .jnHeader {
  padding: 0.5em;
}

jn-grid-row, [jn-grid-row] {
  display: table-row;
}

jn-grid-row.selected,
[jn-grid-row].selected,
.jnAccordion.selected {
  background: #428bca;
}

jn-grid,[jn-grid] {
  display: table;
  width: 100%;
  font-family: 'Helvetica neue', arial, sans-serif;
}

.jnAccordion {
  padding: 0.5em;
}

.clickable {
  cursor: pointer;
}

.jnRowEven {
  background: #fff;
}

.jnRowOdd {
  background: #ddd;
}

.sorted.sort-true::after {
  position: absolute;
  top: 1em;
  margin-left: 0.25em;
  content: ' ';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-bottom: 5px solid #444;
}

.sorted.sort-false::after {
  position: absolute;
  top: 1em;
  margin-left: 0.25em;
  content: ' ';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
	border-top: 5px solid #444;
}
