jn-grid-cell, [jn-grid-cell] {
  display: table-cell;
  padding: 0.5em;
}

jn-grid-row, [jn-grid-row] {
  display: table-row;
}

jn-grid,[jn-grid] {
  display: table;
  width: 100%;
  font-family: 'Helvetica neue', arial, sans-serif;
}

.jnAccordion {
  clear: both;
}

.clickable,
  cursor: pointer;
}

.jnRowEven {
  background: #fff;
}

.jnRowOdd {
  background: #ddd;
}
