jn-grid-cell, [jn-grid-cell] {
  display: table-cell;
}

jn-grid-row, [jn-grid-row] {
  display: table-row;
  cursor: pointer;
}

jn-grid,[jn-grid] {
  display: table;
  width: 100%;
}

.jn-accordion {
  clear: both;
}
